
#gameDiv{
    font-family: 'Brush Script MT', cursive;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightbrown;
    text-align: center;
}


.choiceBtn{
    line-height: 35px;
    width: 160px;
}

#playerText{
    color: Magenta;
}
#computerText{
    color: maroon;
}
